## Introduction:

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

## Common Jupyter operations

Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

If you type your command in the console, you will get the response instantly.

Example: 
![Example of Python code](http://i.imgur.com/VMP3D0T.png)

#### Popular Language for Data Analysis

Most of the time, you will need external packages to asist data analyses.

 ![Python Packages](http://i.imgur.com/Q8trGd1.png)

---

### Variables:

Vairables can be considered __containers__. You can put anything inside a container, __without specifying the size or type__, which will be needed in Java or C. Note that Python is case-sensitive. Be careful about using letters in different cases.

In Python, a variable is a name you specify in your code that maps to a particular object, object instance, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (_), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

When assigning values, we put the variable to be assigned to on the left hand side (LHS), while the value to plug in on the RHS. LHS and RHS are connected by an equal sign (`=`), meaning assignment.

In [2]:
x = 3 # integer
y = 3. # floating point number
z = "Hello!" # strings
Z = "Wonderful!" # another string, stored in a variable big z.
print(x)
print(y)
print(z)
print(Z)

3
3.0
Hello!
Wonderful!

In [3]:
sum_ = x + y # int + float = float
print(sum_)

6.0

In [4]:
v = "World!"
sum_string = z + " " + v # concatenate strings
print(sum_string)

Hello! World!

### Naming Convention:

There are two commonly used style in programming:

1. __camelCase__
2. __snake_case__ or __lower_case_with_underscore__

In [5]:
myStringHere = 'my string'
myStringHere

'my string'

In [6]:
x = 3 # valid
x_3 = "xyz" # valid

In [7]:
3_x = "456" # invalid. Numbers cannot be in the first position.

SyntaxError: invalid token (<ipython-input-7-520aa7218b05>, line 1)

You can choose either camel case or snake case. Always make sure you use one convention consistenly across one project.

##  Data Types : **Determine the type of an object**

## Python objects and  basic types

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In [86]:
type(2)

int

In [87]:
type(2.0)

float

In [88]:
type('two')

str

In [89]:
type(True)

bool

In [90]:
type(None)

NoneType

**Check if an object is of a given type:**

In [92]:
isinstance(2.0, int)

False

In [93]:
isinstance(2.0, (int, float))

True

**Convert an object to a given type:**`

In [94]:
float(2)

2.0

In [95]:
int(2.9)

2

In [96]:
str(2.9)

'2.9'

**Zero, `None`, and empty containers are converted to `False`:**

In [98]:
bool(0)

False

In [99]:
bool(None)

False

In [100]:
bool('')    # empty string

False

In [101]:
bool([])    # empty list

False

In [102]:
bool({})    # empty dictionary

False

**Non-empty containers and non-zeros are converted to `True`:**

In [103]:
bool(2)

True

In [104]:
bool('two')

True

In [105]:
bool([2])

True

Boolean type comes in handy when we need to check conditions. For example:

In [118]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result)

(False, bool)

There are two and only two valid Boolean values: `True` and `False`. We can also think of them as `1` and `0`, respectively.

In [119]:
my_error > 0

True

When we use Boolean values for arithmetic operations, they will become `1/0` automatically

In [120]:
(my_error>0) + 2

3

#### Text/Characters/Strings

In Python, we use `str` type for storing letters, words, and any other characters

In [115]:
my_word = "see you"
type(my_word)

str

Unlike numbers, `str` is an iterable object, meaning that we can iterate through each individual character:

In [116]:
my_word[0], my_word[2:6]

('s', 'e yo')

We can also use `+` to _concatenate_ different strings

In [117]:
my_word + ' tomorrow'

'see you tomorrow'

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (floor division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [47]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = 37
num5 = 2
num6 = 3
num7 = 11.11

In [48]:
# Addition
num1 + num2

7

In [49]:
# Subtraction
num2 - num3

-10.41

In [50]:
# Multiplication
num3 * num4

274.17

In [51]:
# Division
num4 / num5

18.5

In [52]:
# Floor Division
num4 // num5

18

In [53]:
# Exponent
num5 ** num6

8

In [54]:
# Increment existing variable
num7 += 4
num7

15.11

In [ ]:
# Decrement existing variable
num6 -= 2
num6

In [55]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [56]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [57]:
# Are these two expressions equal to each other?
num1 + num2 == num5

False

In [58]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [59]:
# Is the first expression less than the second expression?
num5 < num6

True

In [60]:
# Is this expression True?
5 > 3 > 1

True

In [61]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [62]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [63]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [64]:
# Notice that the string was not modified
simple_string1

'an example'

In [65]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [66]:
# This string wasn't modified either
simple_string2

'oranges '

In [67]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [69]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [70]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [71]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

---

# Logical / Comparision  & Boolean Operators

In [77]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
True

---

##### Comparision Operations:

In [109]:
x=5

In [111]:
x>3

True

In [112]:
x >= 3

True

In [113]:
x !=3

True

In [114]:
x == 5

True

##### Boolean Operations:

In [110]:
False and -2.0

False

In [79]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

False
True

In [80]:
5 >= 3 or 6 > 100

True

In [81]:
180 and 18.9

18.9

In [106]:
not False

True

In [107]:
False or not False and True     # evaluation order: not, and, or

True

---

### Input() function:

- Read the input to the Python Program 
- Reads the input in terms of string format

In [125]:
s1 = input('Enter Your Name')
print(s1,type(s1))

Enter Your NameGITAM
GITAM <class 'str'>

In [126]:
a1 = float(input('Enter a Decimal number'))
print(a1,type(a1))

Enter a Decimal number21.34
21.34 <class 'float'>

# Conditional Statements


- Conditional Statements or Selection Statements
    - if-else
- Iterational Statements or Loop Statements
    - while
    - for

In [82]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

X is positive Value or -100
I am if loop
I am out of IF looP

In [83]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
    print("hello..")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

6  is even number
hello..
this is out of IF else block

In [84]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

negative
I am out of IF block

In [85]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

positive

In [127]:
# Check the input is Leap year or not
year = int(input(''))
if year % 400 == 0 or (year % 100 != 0 and year % 4 ==0 ):
    print('Leap year')
else:
    print('Not leap year')

2018
Not leap year

#### While loop: Keep doing until condition no longer holds.

Use `for` when you know __the exact number of iterations__; use `while` when you __do not (e.g., checking convergence)__.

In [123]:
x = 2

In [124]:
while x < 10:
    print(x)
    x = x + (x-1)
    #x += x-1

2
3
5
9

In [128]:
# Print numbers from 1 to N
# Input : 10
# Output : 1 2 3 4 5 .......... 10
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i,end= " ")
    i = i + 1

Enter a number : 6
1 2 3 4 5 6

In [129]:
# Output as Only even numbers sum from 1 to N

#input  : 10
#Output : 30 (2+4+6+8+10)

n = int(input(''))
i = 1
s = 0
while i <= n:
    if i % 2 == 0:
        s = s +i        
    i = i + 1 
print(s)

10
30

In [130]:
# Read a number as input
# Print the output as Zero, Positive number or Negative number
a2 = int(input(''))
if a2 == 0:
    print('Zero')    
elif a2 > 0:
    print('Positive number')
elif a2 < 0:
    print('Negative number')

5
Positive number