---

### Introduction

#### Interpreted Language

If you type your command in the console, you will get the response instantly.

Example: 
![Example of Python code](http://i.imgur.com/VMP3D0T.png)

#### Popular Language for Data Analysis

Most of the time, you will need external packages to asist data analyses.

 ![Python Packages](http://i.imgur.com/Q8trGd1.png)

---

### Variables

Vairables can be considered __containers__. You can put anything inside a container, __without specifying the size or type__, which will be needed in Java or C. Note that Python is case-sensitive. Be careful about using letters in different cases.

When assigning values, we put the variable to be assigned to on the left hand side (LHS), while the value to plug in on the RHS. LHS and RHS are connected by an equal sign (`=`), meaning assignment.

In [1]:
x = 3 # integer
y = 3. # floating point number
z = "Hello!" # strings
Z = "Wonderful!" # another string, stored in a variable big z.
print(x)
print(y)
print(z)
print(Z)

3
3.0
Hello!
Wonderful!

You can do operations on numeric values as well as strings.

In [77]:
sum_ = x + y # int + float = float
print(sum_)

6.0

In [3]:
v = "World!"
sum_string = z + " " + v # concatenate strings
print(sum_string)

Hello! World!

Print with formating with `%`

In [4]:
print("The sum of x and y is %.2f"%sum_) # %f for floating point number

The sum of x and y is 6.00

In [5]:
print("The string `sum_string` is '%s'"%sum_string) # %s for string

The string `sum_string` is 'Hello! World!'

#### Naming convention

There are two commonly used style in programming:

1. __camelCase__
2. __snake_case__ or __lower_case_with_underscore__

All variable (function and class) names must start with a letter or underscore (\_). You can include numbers.

In [57]:
myStringHere = 'my string'
myStringHere

'my string'

In [58]:
x = 3 # valid
x_3 = "xyz" # valid

In [59]:
3_x = "456" # invalid. Numbers cannot be in the first position.

SyntaxError: invalid token (<ipython-input-59-520aa7218b05>, line 1)

You can choose either camel case or snake case. Always make sure you use one convention consistenly across one project.

See more here:

[1] https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles

[2] https://en.wikipedia.org/wiki/Naming_convention_(programming)

#### Some notes on Strings

To initialize a string variable, you can use either double or single quotes.

In [60]:
store_name = "HyVee"

You can think of strings as a sequence of characters (or a __list__ of characters, see the next section). In this case, indices and bracket notations can be used to access specific ranges of characters.

In [61]:
name_13 = store_name[1:4] # [start, end), end is exclusive; Python starts with 0 NOT 1
print(name_13)

yVe

In [62]:
last_letter = store_name[-1] # -1 means the last element
print(last_letter)

e

---

### Simple Data Structures

In this section, we go over some common [primitive](https://www.datacamp.com/community/tutorials/data-structures-python#adt) data types in Python. While the word _primitive_ looks obscure, we can think of it as the most basic data type that cannot be further decomposed into simpler ones.

I categorize them into several subsections based on the values they represent.

#### Numbers

For numbers w/o fractional parts, we say they are ___integer___. In Python, they are called `int`

In [1]:
x = 3
type(x)

int

For numbers w/ fractional parts, they are floating point numbers. They are named `float` in Python.

In [2]:
y = 3.0
type(y)

float

We can apply arithmetic to these numbers. However, one thing we need to be careful about is ___type conversion___. See the example below.

In [4]:
z = 2 * x
type(z)

int

In [5]:
z = y + x
type(z)

float

#### Text/Characters/Strings

In Python, we use `str` type for storing letters, words, and any other characters, as mentioned previously in Section 2.2

In [6]:
my_word = "see you"
type(my_word)

str

Unlike numbers, `str` is an iterable object, meaning that we can iterate through each individual character:

In [10]:
my_word[0], my_word[2:6]

('s', 'e yo')

We can also use `+` to _concatenate_ different strings

In [11]:
my_word + ' tomorrow'

'see you tomorrow'

#### Boolean

Boolean type comes in handy when we need to check conditions. For example:

In [13]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result)

(False, bool)

There are two and only two valid Boolean values: `True` and `False`. We can also think of them as `1` and `0`, respectively.

In [14]:
my_error > 0

True

When we use Boolean values for arithmetic operations, they will become `1/0` automatically

In [17]:
(my_error>0) + 2

3

#### Type Conversion

Since variables in Python are dynamically typed, we need to be careful about type conversion.

When two variables share the same data type, there is not much to be worried about:

In [18]:
s1 = "no problem. "
s2 = "talk to you later"
s1 + s2

'no problem. talk to you later'

But be careful when we are mixing variables up:

In [21]:
a = 3 # recall that this is an ____?
b = 2.7 # how about this?
c = a + b # what is the type of `c`?

To make things work between string and numbers, we can explicitly convert numbers into `str`:

In [26]:
s1 + 3

TypeError: can only concatenate str (not "int") to str

In [27]:
s1 + str(3)

'no problem. 3'

---

#### Comparison

Python syntax for comparison is the same as our hand-written convention: 

1. Larger (or equal): `>` (`>=`)
2. Smaller (or equal): `<` (`<=`)
3. Equal to: `==` (__Notice here that there are double equal signs__)
4. Not equal to: `!=`

In [54]:
3 == 5

False

In [55]:
72 >= 2

True

In [65]:
store_name

'HyVee'

In [66]:
store_name == "HyVee" # Will return a boolean value True or False

True

IMPORTANT: It is worth noting that comparisons between floating point numbers are tricky.

In [70]:
print(2.2 * 3.0)
2.2 * 3.0 == 6.6

6.6000000000000005

False

In [71]:
3.3 * 2.0 == 6.6

True

#### If-Else

In [80]:
sum_

6.0

In [81]:
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_)) # Cast sum_ into string type.

sum_ is above 0 and its value is 6.0

Note that you do not have to use `if-else` or `if-elif-...-else`. You can use `if` without other clauses following that.

In [82]:
if sum_ > 5:
    print('sum_ is above 5')

sum_ is above 5

Comparing strings are similar

In [83]:
store_name = 'Walmart'
#store_name = 'Hyvee'

In [85]:
if 'Wal' in store_name:
    print("The store is not Walmart. It's " + store_name + ".")
else:
    print("The store is Walmart.")

The store is not Walmart. It's Walmart.

#### While loop: Keep doing until condition no longer holds.

Use `for` when you know __the exact number of iterations__; use `while` when you __do not (e.g., checking convergence)__.

In [92]:
x = 2

In [93]:
while x < 10:
    print(x)
    x = x + (x-1)
    #x += x-1

2
3
5
9